<mat-progress-spinner *ngIf="currentProducts.length <= 0"
                      class="center-me"
                      color="accent"
                      mode="indeterminate"
                      [value]="30">
</mat-progress-spinner>
<div class="box">
  <div class="cards" >
    <app-product-deliver *ngFor="let product of currentProducts" [productDeliver]="product"></app-product-deliver>
  </div>


  <mat-paginator *ngIf="currentProducts.length > 0" (page)="updatePage($event)" [length]="products.length"
                 [pageSize]="currentPageSize"
                 [pageSizeOptions]="[3, 5, 10, 20, products.length]">
  </mat-paginator>
</div>
