.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.box{
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.center-me {
  margin: 30% auto;
}
