<div class="all-products-container">
	<mat-card class="product-item" *ngFor="let marketItem of marketItemsPageable?.items" (click)="navigate(1)">
		<div style="display: flex;">
			<div class="">
				<img *ngIf="marketItem.headerImage !== null; else placeholderImage"
					src="./img/market-item-header-default.jpg">
				<ng-template #placeholderImage>
					<img src="./img/market-item-header-example.jpg">
				</ng-template>
			</div>
			<div style="margin-left:30px;">
				<h2>{{marketItem.title}}</h2>
				<p>{{marketItem.description}}</p>
			</div>
		</div>
	</mat-card>

	<mat-paginator [length]="marketItemsPageable?.meta?.totalItems" [pageSize]="marketItemsPageable?.meta?.itemsPerPage"
		[pageSizeOptions]="[5,10,25,100]" (page)="pageEvent = $event; onPaginateChange($event)" showFirstLastButtons>
	</mat-paginator>

</div>